{% extends "layout.html" %}

{% block title %}Registered Users | Vehicle Parking App{% endblock %}

{% block header %}
    {% include "admin/navbar.html" with context %}
{% endblock header %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4 text-center">Registered Users</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped align-middle">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Pincode</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ user.username }}</td>
                    <td>{{ user.fullname }}</td>
                    <td>{{ user.address }}</td>
                    <td>{{ user.pincode }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="6" class="text-center">No users found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}