html, body {
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

header, footer {
    flex-shrink: 0;
    width: 100vw;
    text-align: center;
}

main {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    overflow: hidden;
}