{% extends "layout.html" %}

{% block title %}Registered Users | Vehicle Parking App{% endblock %}

{% block header %}
    {% include "user/navbar.html" with context %}
{% endblock header %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4 text-center">Search</h2>
    <form method="POST" action="{{ url_for('user_search') }}">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="search_query" placeholder="Enter search term..." required>
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>

    {% if parking_lots %}
        <div class="mt-4">
            <h3 class="mb-4">Search Results for "{{ search_query }}"</h3>
                <h4>Parking Lots</h4>
                <ul class="list-group mb-4">
                    {% for lot in parking_lots %}
                        <li class="list-group-item">
                            <strong>{{ lot.prime_location_name }}</strong> - {{ lot.address }} ({{ lot.pin_code }})
                            <span class="badge bg-success">Price: 9{{ lot.price }}/hr</span>
                            <span class="badge bg-info">Spots: {{ lot.maximum_number_of_spots }}</span>
                        </li>
                    {% endfor %}
                </ul>
        </div>
    {% endif %}
</div>
{% endblock %}